<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bulma.css" rel="stylesheet" type="text/css">
		<link rel="icon" href="/image/logo-192.png" />
    <title>TEST Docs | <%= title %></title>
    <style>
      footer {
          color: #bbb;
          text-align: center;
          padding: 20px;
          max-width: 500px;
          margin: 40px auto 0;
          border-top: 1px solid #f2f2f2;
      }
      
      </style>
      

</head>