<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
      <div class="content has-text-centered">
        <p>You are attempting to view metaPlay documentation site.</p>
        <p>You are not logged in. Please <a href="/.ory/self-service/login/browser">sign in</a>. </p>
      </div>
    </div>
  </body>
  <%- include("./partials/footer.ejs") %>

</html>
