<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
      <div class="content has-text-centered">
        <p>Welcome  <%=user_email %>. <a href="/documentation/index.html">View Documentation.</a></p>
      </div>
    </div>
  </body>
  <%- include("./partials/footer.ejs") %>

</html>
