<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
  </body>
  <div class="container">
    <div class="Title">Public view</div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum odit vero mollitia quam nisi a molestiae nemo, odio veniam ex rerum soluta nobis inventore est asperiores sit deleniti unde cum!
  </div>
  <%- include("./partials/footer.ejs") %>
</html>